<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.distiller.scraper</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/Henry/Project/Distiller/scripts/run_scraper.sh</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>WorkingDirectory</key>
    <string>/Users/Henry/Project/Distiller</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/Henry/Project/Distiller/venv/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/Henry</string>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/Henry/Project/Distiller/logs/scraper.out</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/Henry/Project/Distiller/logs/scraper.err</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
